* {
	box-sizing: border-box;
	
}

body {
	margin: 0px;
	font-family: Arial;
        height: box;
}

/* Header */
header {
	padding: 16px 40px;
	width: 100%;
	margin: 0;
	
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	
        border-bottom: 5px solid black;
}

/* Estilo del título */
.title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h2{
    margin: 0;
    padding-left: 5px;
    font-size: 24px;
    line-height: 30px;
}

h2 a {    
    color: black;
    text-decoration: none;
}

h2 a:hover {
    color: #0057ff;
    border-bottom: 3px solid #0057ff;
}

.logo img {
    width: 40px;
    height: 40px;
}

/* Estilo del navegador */
.navegador {margin-left: auto;}

nav {
	display: flex;
	flex-flow: row wrap;
}

/* Estilo elementos del navegador */
nav a {
	margin: 16px;
	font-size: 24px;
	text-decoration: none;
        color: black;
        font-weight: bold;
}

nav a:hover {
    border-bottom: 3px solid black;    
}

/* Footer */
footer {
	width: 100%;
	margin: 0;
        padding: 10px;
	background-color: #191919;
	color: #fff;
	text-align: center;
        
        margin-top: 20px;
}

/* Main */
/* main * {
    border: 1px solid black;
    margin: 1px;
} */

.presentacion {
    width: 100%;
    text-align: center;
    padding: 100px;
}

.contenido {
    margin: 20px 10%;
    height: auto;
    
}

td {
    padding: 10px ;
    
    background-color: gainsboro;
    border-radius: 4px;
}

th {
    text-align: left;
}

